<div class="portfolio">
  <div class="portfolioContainer">
    <div class="headline">
      <p class="size90 weight700">Portfolio</p>
    </div>
    <div class="portfolioHeader">
      <p class="size16">
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>

    <div *ngFor="let project of projects; let i = index" class="portDesc">
      <app-port-text
        [ngClass]="i % 2 === 0 ? 'flexStart' : 'flexEnd'"
        [imageUrl]="project.img"
        [projectName]="project.name"
        [projectDesc]="project.desc"
        [projectTech]="project.tech"
      ></app-port-text>
    </div>
  </div>
</div>
