@import "../../variables";

.portfolio {
  padding: 100px 136px;
}

.portfolioContainer {
  max-width: 1440px;
  margin: auto;
}

.portfolioHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.headline {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline p {
  display: flex;
  align-items: center;
}

.headline p::before,
.headline p::after {
  content: "";
  display: block;
  height: 4px;
  background-color: $activeClick;
}
.headline p::after {
  flex-grow: 1;
  margin-left: 32px;
}

.headline p::before {
  width: 100px;
  margin-right: 32px;
  flex-shrink: 0;
}
