<div class="portfolio">
  <div class="portfolioContainer">
    <div class="headerPosition">
      <div class="headlineRelative">
        <div class="headline">
          <p>Portfolio</p>
          <div class="purpleLineLeft"></div>
          <div class="purpleLineRight"></div>
        </div>
      </div>
    </div>

    <div class="portfolioHeader">
      <p class="size16">
        {{ subheader[0].line[languageService.currentLanguage] }}
      </p>
    </div>
    <div *ngFor="let project of projects; let i = index" data-aos="zoom-in">
      <app-port-text
        [ngClass]="{ 'reverse-layout': isWideScreen && i % 2 !== 0 }"
        [imageUrl]="project.img"
        [projectName]="project.name"
        [projectDesc]="project.desc[languageService.currentLanguage]"
        [projectTech]="project.tech"
        [projectLive]="project.gameUrl"
        [projectGit]="project.gitUrl"
      ></app-port-text>
    </div>
  </div>
</div>
