@import "../../variables";

.portfolio {
  padding: $screenPadding;
  overflow-x: hidden;
}

.portfolioContainer {
  max-width: 1440px;
  margin: auto;
}

.headline h2 {
  font-size: 90px;
  font-weight: 700;
}

.portfolioHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 16px;
}

.headlineRelative {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.headerPosition {
  justify-content: center;
  display: flex;
}

.purpleLineRight {
  width: 100vw;
  position: absolute;
  background-color: $secondaryAccent;
  height: 4px;
  top: 50%;
  right: -15px;
  transform: translateX(100%);
}

.purpleLineLeft {
  width: 10%;
  position: absolute;
  background-color: $secondaryAccent;
  height: 4px;
  top: 50%;
  left: -15px;
  transform: translateX(-100%);
}

.headline p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portDesc {
  display: flex;
  flex-direction: column;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.flexNormal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexReverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.website {
  padding: 50px 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.portText {
  display: flex;
  flex-direction: column;
}

.portButtons {
  display: flex;
  justify-content: center;
  gap: 86px;
  &.reverse-layout {
    justify-content: flex-end;
  }
  a {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    text-decoration: none;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primaryColor;
    }

    &.git:active {
      background-color: transparent;
    }
  }
}
.git {
  border: 1px solid $primaryColor;
}

.active-class {
  display: none;
}

.portfolioButton {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-size: 100% 100%;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: $primaryAccent;
  }
  &:active {
    background-color: $secondaryAccent;
  }
}

.close {
  background-image: url(../../../assets/img/icons/arrow_port/up.svg);
}

.open {
  background-image: url(../../../assets/img/icons/arrow_port/down.svg);
}

.showPortButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  .portText {
    text-align: center;
  }
  .portButtons {
    a {
      padding: 10px 10px;
      font-size: 16px;
    }
  }
}

@media (max-width: 900px) {
  .portfolio {
    padding: $mobilePadding;
  }

  .headline h2 {
    font-size: 45px;
  }
}
