@import "../../variables";

.about {
  padding: $screenPadding;
  overflow-x: hidden;
}

.aboutContainer {
  max-width: 1440px;
  margin: auto;
  gap: 16px;
}

h2 {
  font-size: 90px;
  font-weight: 700;
}

.aboutText {
  display: flex;
  flex-direction: column;
  width: 480px;
  gap: 40px;
}
.textDetails {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.textComp {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  img {
    width: 48px;
    height: 48px;
  }
}

.aboutImage {
  position: relative;
  img {
    width: 453px;
    height: 453px;
    border: 4px solid $primaryColor;
    border-radius: 100%;
    object-fit: contain;
  }
}

.greenLine {
  width: 100vw;
  position: absolute;
  background-color: $primaryColor;
  height: 4px;
  top: 50%;
  right: 0;
  transform: translateX(100%);
}

@media (max-width: 1160px) {
  .aboutImage {
    display: none;
  }

  .aboutText {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .about {
    padding: $mobilePadding;
  }

  h2 {
    font-size: 45px;
  }
}
