/* Style inputs with type="text", select elements and textareas */
@import "../../variables";

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #141d2f inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #141d2f inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: white;
}

.contact {
  padding: $screenPadding;
}
.headlineRelative {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.headerPosition {
  justify-content: center;
  display: flex;
}

.purpleLine {
  width: 100vw;
  position: absolute;
  background-color: $activeClick;
  height: 4px;
  top: 50%;
  left: -15px;
  transform: translateX(-100%);
}

.confirm {
  color: $hoverFocus;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

.confirm-active {
  transform: translateY(0) !important;
}

.contactContainer {
  max-width: 1440px;
  margin: auto;
  gap: 25px;
  overflow: hidden;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 15px 25px;
  border: 1px solid $activeClick;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #141d2f;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border: 1px solid $activeClick;
  outline: none;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  background-color: transparent;
  flex-shrink: 0;

  border: 1px solid $hoverFocus;
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
  &:checked::after {
    content: "✔";
    color: $hoverFocus;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: rgb(128, 128, 251);
  }
}

.privacyPolicyAccept {
  display: flex;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}
.sendButton {
  margin: 8px 0 16px 0;
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: flex-start;
  height: 100%;
  max-width: 474px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.headline p {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 90px;
}

.goUp {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
}

.invalid {
  border-color: red !important;
  outline: none;
}

textarea.invalid::placeholder {
  color: red;
}

input[type="text"].invalid::placeholder,
input[type="email"].invalid::placeholder {
  color: red;
}

span {
  font-size: 14px;
  display: block;
  padding-left: 25px;
  color: red;
  height: 23px;
}

.height23 {
  height: 23px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $activeClick;
  &:hover {
    text-decoration: underline solid $hoverFocus 2px;
    text-underline-offset: 4px;
  }
}

@media (max-width: 1100px) {
  .contactContainer {
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: $mobilePadding;
  }

  .headline p {
    font-size: 45px;
  }

  form {
    min-width: 100px;
  }
}
