/* Style inputs with type="text", select elements and textareas */
@import "../../variables";

.contact {
  padding: $screenPadding;
}

.contactContainer {
  max-width: 1440px;
  margin: auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 15px 25px;
  border: 1px solid $activeClick;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  border: 1px solid $activeClick;
  outline: none;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid $hoverFocus;
  appearance: none;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
  &:checked::after {
    content: "✔";
    color: $hoverFocus;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: rgb(128, 128, 251);
  }
}

.privacyPolicyAccept {
  display: flex;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: flex-start;
  height: 100%;
  width: 474px;
}

.contactContainer {
  display: flex;
  justify-content: space-between;
}

.headline p::before {
  content: "";
  display: block;
  height: 4px;
  background-color: $activeClick;
  width: 500px;
  margin-right: 32px;
  flex-shrink: 0;
}

.headline p {
  display: flex;
  align-items: center;
}
