<section class="privacy" aria-labelledby="privacy-title">
  <div class="privacyContainer">
    <h2 id="privacy-title">
      {{ privacy[0].section[languageService.currentLanguage] }}
    </h2>

    <h3 id="responsible-party">
      1. {{ privacy[0].resp[languageService.currentLanguage] }}
    </h3>
    <p>
      {{ privacy[0].resp1[languageService.currentLanguage] }}<br />
      <strong>Valentino Strebel / Strebel Company</strong><br />
      Dorfstraße 12a, 85375, Neufahrn b. Freising<br />
      <a
        href="mailto:office@strebel-company.de"
        aria-label="Email: office@strebel-company.de"
      >
        {{ privacy[0].respEmail }} </a
      ><br />
      <span aria-label="Phone number: +49 171 1505613">+49 171 1505613</span>
    </p>

    <h3>2. {{ privacy[0].use[languageService.currentLanguage] }}</h3>

    <h4>
      {{ privacy[0].contact[languageService.currentLanguage] }}
    </h4>
    <p>
      {{ privacy[0].contact1[languageService.currentLanguage] }}<br /><br />
      <strong>{{ privacy[0].contact2[languageService.currentLanguage] }}</strong
      ><br /><br />
      {{ privacy[0].contact3[languageService.currentLanguage] }}
    </p>

    <h3>3. {{ privacy[0].store[languageService.currentLanguage] }}</h3>
    <p>
      {{ privacy[0].store1[languageService.currentLanguage] }}
    </p>

    <h3>4. {{ privacy[0].rights[languageService.currentLanguage] }}</h3>
    <p>
      {{ privacy[0].rights1[languageService.currentLanguage] }}
    </p>
    <ul>
      <li>{{ privacy[0].rightsList1[languageService.currentLanguage] }}</li>
      <li>{{ privacy[0].rightsList2[languageService.currentLanguage] }}</li>
      <li>{{ privacy[0].rightsList3[languageService.currentLanguage] }}</li>
      <li>{{ privacy[0].rightsList4[languageService.currentLanguage] }}</li>
      <li>{{ privacy[0].rightsList5[languageService.currentLanguage] }}</li>
      <li>{{ privacy[0].rightsList6[languageService.currentLanguage] }}</li>
    </ul>
    <p>
      {{ privacy[0].rights2[languageService.currentLanguage] }}
    </p>

    <h3>5. {{ privacy[0].encrypt[languageService.currentLanguage] }}</h3>
    <p>
      {{ privacy[0].encrypt1[languageService.currentLanguage] }}
    </p>
  </div>
</section>
