@import "../../variables";

.intro {
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #27334b, #141d2f) !important;
}

.introContainer {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;

  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.purpleLine {
  width: 100vw;
  position: absolute;
  background-color: $activeClick;
  height: 4px;
  top: 50%;
  left: -15px;
  transform: translateX(-100%);
}

.profileImage {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.introContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.introText {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.introDesc {
  gap: 35px;
}

.rotate {
  transform: rotate(-90deg);
  font-size: 64px;
}

.profession {
  font-size: 64px;
  color: $activeClick;
  text-transform: uppercase;
}

.buttonsAlignment {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.actionButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  img {
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  a {
    font-size: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover img {
      transform: scale(1.2);
    }
  }
}
.name {
  font-weight: 700;
  font-size: 90px;
}

@media (max-width: 1100px) {
  .introContent {
    flex-direction: column;
  }

  .rotate {
    font-size: 32px;
  }
  .name {
    font-size: 44px;
  }
  .profession {
    font-size: 28px;
  }

  .intro {
    padding: 0 25px;
  }

  .noTransform {
    display: none !important;
  }

  .buttonsAlignment {
    justify-content: center;
  }

  .introDesc {
    text-align: center;
  }
}
