@import "../../variables";

header {
  width: 100%;
  position: sticky;
  top: 0;
}

.headerContainer {
  padding: 37px 100px;
  max-width: 1440px;
  margin: auto;
}

.pageNavigationButtons {
  button,
  a {
    &:hover {
      color: $hoverFocus;
    }
    &:focus {
      color: $hoverFocus;
      text-decoration: underline;
      text-decoration-color: $activeClick;
    }
  }
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.languageButtons {
  button {
    border-radius: 10px;
    border: 1px solid $hoverFocus;
    padding: 5px 8px;
    &:hover {
      background-color: $activeClick;
      color: white;
      border-color: $activeClick;
    }
  }
}

.activeLang {
  background-color: $hoverFocus;
  color: white;
  font-weight: 700;
}
