<header>
  <div class="headerContainer flexSpaceBetween">
    <div class="burgerMenu" (click)="nextImage()">
      <img [src]="images[currentImage]" alt="Image" width="300" />
    </div>
    <a
      [routerLink]="'home'"
      class="logoButton"
      (click)="displayService.pageChange('home'); scrollService.scrollToTop()"
      ><app-company-logo></app-company-logo
    ></a>
    <div
      class="headerMenu"
      [ngClass]="{ hideMenu: direction === -1 }"
      (click)="changeDirection()"
    >
      <nav class="pageNavigationButtons flexSpaceBetween">
        <button
          (click)="scrollService.scrollTo('about'); selectionChange('about')"
          class="size23"
          [ngClass]="{ activeSel: currentSelection === 'about' }"
        >
          {{ headerBtn[0].about[languageService.currentLanguage] }}
        </button>
        <button
          (click)="scrollService.scrollTo('skills'); selectionChange('skill')"
          class="size23"
          [ngClass]="{ activeSel: currentSelection === 'skill' }"
        >
          {{ headerBtn[0].skill[languageService.currentLanguage] }}
        </button>
        <button
          (click)="scrollService.scrollTo('portfolio'); selectionChange('port')"
          class="size23"
          [ngClass]="{ activeSel: currentSelection === 'port' }"
        >
          {{ headerBtn[0].port[languageService.currentLanguage] }}
        </button>
        <button
          (click)="
            scrollService.scrollTo('contact'); selectionChange('contact')
          "
          class="size23"
          [ngClass]="{ activeSel: currentSelection === 'contact' }"
        >
          {{ headerBtn[0].contact[languageService.currentLanguage] }}
        </button>
      </nav>
      <div class="languageButtons">
        <button
          [id]="'btnGer'"
          (click)="languageService.langChange('de')"
          class="size18"
          [ngClass]="{ activeLang: languageService.currentLanguage === 'de' }"
        >
          DE
        </button>
        <button
          [id]="'btnEng'"
          (click)="languageService.langChange('en')"
          class="size18"
          [ngClass]="{ activeLang: languageService.currentLanguage === 'en' }"
        >
          EN
        </button>
      </div>
    </div>
  </div>
</header>
