@import "../../variables";

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #141d2f;
}

.headerContainer {
  padding: 37px 100px;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 92px;
}

.burgerMenu {
  position: absolute;
  background-color: transparent;
  height: 30px;
  width: 30px;
  img {
    height: 28px;
    background-color: transparent;
    height: 30px;
    width: 30px;
  }
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  display: none;
  cursor: pointer;
}

.pageNavigationButtons {
  gap: 29px;
  button,
  a {
    &:hover {
      color: $hoverFocus;
    }
  }
}

.activeSel {
  color: $hoverFocus;
  text-decoration: underline solid $activeClick 4px;
  text-underline-offset: 12px;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.languageButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  button {
    border-radius: 10px;
    border: 1px solid $hoverFocus;
    padding: 5px 8px;
    &:hover {
      background-color: $activeClick;
      color: white;
      border-color: $activeClick;
    }
  }
}

.activeLang {
  background-color: $hoverFocus;
  color: white;
  font-weight: 700;
}

.logoButton {
  cursor: pointer;
  border-style: none;
  text-decoration: none;
}

.d_none {
  display: none;
}

.hideMenu {
  transform: translateX(0%) !important;
  display: flex !important;
}

@media (max-width: 1100px) {
  .headerMenu {
    gap: 25px;
  }

  .pageNavigationButtons {
    gap: 25px;
  }
}

@media (max-width: 1000px) {
  .burgerMenu {
    display: block;
  }

  .headerContainer {
    padding: 37px 25px;
  }

  .headerMenu {
    flex-direction: column;
    position: absolute;
    top: 124px;
    right: 0;
    background-color: #141d2fa2;
    width: 100%;
    height: 100vh;
    justify-content: unset;
    transform: translateX(100%);
    transition: transform 0.1s ease;
    display: none;
  }

  .pageNavigationButtons {
    flex-direction: column;
    align-items: flex-start;
  }

  .languageButtons {
    justify-content: unset;
  }
}
