<div class="headerBackground">
  <div class="headerContainer flexSpaceBetween">
    <p>Vale</p>
    <div class="headerMenu flexSpaceBetween gap92">
      <nav class="pageNavigationButtons flexSpaceBetween gap29">
        <a href=""><button class="size23">About me</button></a>
        <a href=""><button class="size23">Skills</button></a>
        <a href=""><button class="size23">Portfolio</button></a>
      </nav>
      <div class="languageButtons flexSpaceBetween gap14">
        <button class="size18">DE</button>
        <button class="size18">EN</button>
      </div>
    </div>
  </div>
</div>
