<div class="skillsList">
  <div *ngFor="let skill of skills; let i = index" class="skillItem">
    <img
      [src]="skill.image"
      alt="{{ skill.text }}"
      class="object"
      [class.moved]="movedIndex === i"
      (mouseenter)="onMouseEnter(i)"
    />
    <p class="weight700 size16">{{ skill.text }}</p>
  </div>
  <div class="purpleSkill">
    <div class="purpleImage">
      <img
        src="../../../../assets/img/icons/icon_plain/front/continual_purple.svg"
        alt=""
        class="default-image"
      />
      <img
        src="../../../../assets/img/icons/icon_plain/front/cont_learn_plain.svg"
        alt=""
        class="hover-image"
      />
      <p class="weight700 size16">Continually learning</p>
    </div>
  </div>
</div>
