@import "./../../../variables";

.skillsLogos {
  display: flex;
  justify-content: center;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  width: 664px;
  gap: 88px;
  justify-content: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 88px;
}

.object {
  transition: transform 0.3s ease;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.object.moved {
  transform: translateY(-16px);
}

.purpleImage img.hover-image {
  opacity: 0;
}

.purpleImage:hover img.hover-image {
  opacity: 1;
}

.purpleImage:hover img.default-image {
  opacity: 0;
}

.purpleImage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  top: 0;
}

.hover-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.purpleSkill {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 88px;
}

.purpleImage img {
  transition: opacity 0.5s ease-in-out;
}

.purpleImage:hover p {
  color: white;
}

.purpleImage p {
  transition: color 0.5s ease-in-out;
  color: $activeClick;
}

.skillText {
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 1300px) {
  .skillsList {
    gap: 44px;
    width: auto;
    max-width: 646px;
  }
}

@media (max-width: 1100px) {
  .skillText {
    font-size: 14px;
  }

  .skillItem {
    width: 88px;
  }
}
