.skillsLogos {
  display: flex;
  justify-content: center;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  width: 664px;
  height: 404 px;
  gap: 88px;
}

.skillItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 88px;
}

.object {
  transition: transform 0.3s ease;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.object.moved {
  transform: translateY(-16px);
}
