//$primaryColor: #083b6b;

$primaryColor: #31667a;

$background: #141d2f;

$primaryAccent: #f5b041;

$secondaryAccent: #31667a;

$text: #f5f7fa;

$screenPadding: 25px 100px;

$mobilePadding: 25px 25px;

/*$primaryColor: #70e61c;

$primaryAccent: #9747ff;

$standardBlue: #141d2f;

$modernColor: #31667a;

$background: #f5f7fa;

$text: #222222;

$secondChoiceOne: #8cae9e;

$secondChoiceTwo: #e9dccd;*/
