<div class="skillDescription gap24">
  <p class="size90 weight700">My Skills</p>
  <p class="size16">
    I build modern, responsive web apps using HTML, CSS, JavaScript, and
    TypeScript. With Angular, Firebase, and REST APIs, I create dynamic,
    full-stack solutions. I follow Scrum methods and apply Material Design
    principles to deliver clean, user-focused experiences.
  </p>
  <p class="size32 weight700">
    The key to <span class="purpleColor">my success</span>?
  </p>
  <p class="size16">
    Driven by curiosity and passion for technology, I am always learning new
    frameworks and programming languages to stay at the cutting edge and bring
    fresh ideas to every project.
  </p>
  <app-standard-button
    (click)="scrollService.scrollTo('contact')"
    buttonText="Get in touch"
  ></app-standard-button>
</div>
