<div class="skillDescription">
  <div class="headerPosition">
    <div class="headlineRelative">
      <p class="headline">
        {{ skills[0].headline[languageService.currentLanguage] }}
      </p>
    </div>
  </div>
  <p class="size16">
    {{ skills[0].desc[languageService.currentLanguage] }}
  </p>
  <p class="purpleText">
    {{ skills[0].subline[languageService.currentLanguage]
    }}<span class="purpleColor">{{
      skills[0].sublineColor[languageService.currentLanguage]
    }}</span
    >?
  </p>
  <p class="size16">
    {{ skills[0].subdesc[languageService.currentLanguage] }}
  </p>
  <app-standard-button
    (click)="scrollService.scrollTo('contact')"
    buttonText="{{ skills[0].buttonText[languageService.currentLanguage] }}"
  ></app-standard-button>
</div>
