@import "../../../variables";

.portText {
  display: flex;
  flex-direction: column;
}

.portFullDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;
  &.reverse-layout {
    flex-direction: row-reverse;
    text-align: end;
    align-items: flex-start;
  }
  img {
    width: 100%;
    max-width: 600px;
  }
}

:host(.reverse-layout) .portFullDesc {
  flex-direction: row-reverse;
  text-align: end;
}

.portButtons {
  display: flex;
  gap: 86px;
  &.reverse-layout {
    justify-content: flex-end;
  }
  a {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    text-decoration: none;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primaryColor;
    }
    &.live:active {
      background-color: $primaryAccent;
    }
    &.git:active {
      background-color: transparent;
    }
  }
}
:host(.reverse-layout) .portButtons {
  justify-content: flex-end;
}

.live {
  border: none;
  background-color: $primaryAccent;
}

.git {
  border: 1px solid $primaryColor;
}

.portDescBtn {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media (max-width: 1300px) {
  .portText {
    text-align: center;
  }
  .portFullDesc {
    flex-direction: column;
  }

  :host(.reverse-layout) .portFullDesc {
    flex-direction: column;
    text-align: start;
  }

  :host(.reverse-layout) .portButtons {
    justify-content: flex-start;
  }
  .portButtons {
    gap: 24px;
    justify-content: center !important;
    a {
      padding: 10px 10px;
      font-size: 16px;
    }
  }
}
