<div class="portFullDesc">
  <img *ngIf="imageUrl" [src]="imageUrl" alt="Project Image" />

  <div class="portDescBtn">
    <div class="portText gap15">
      <p class="size32 weight700 purpleColor">
        {{ projectName }}
      </p>
      <p class="size23 greenColor">
        {{ projectTech }}
      </p>
      <p class="size16">
        {{ projectDesc }}
      </p>
    </div>
    <div class="portButtons">
      <a
        href="{{ projectLive }}"
        target="_blank"
        rel="noopener noreferrer"
        class="live"
        >Live test</a
      >
      <a
        href="{{ projectGit }}"
        target="_blank"
        rel="noopener noreferrer"
        class="git"
        >Github</a
      >
    </div>
  </div>
</div>
