@import "../../variables";

.reference {
  margin: auto;
  max-width: 1440px;
  padding: 0 100px;
}

.referenceContainer {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  width: 272px;
  height: 272px;
  border-radius: 100%;
  border: 4px solid $activeClick;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
  }
}

.referenceText {
  position: relative;
  flex: 1;
  border: 4px solid $hoverFocus;
  border-radius: 32px;
  padding: 48px 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 46px;
}

.quote {
  position: absolute;
  width: 60px;
  top: -24px;
  left: -24px;
  background-color: transparent;
}

.company {
  display: flex;
  align-items: center;
}

.company::before {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: $activeClick;
  width: 100%;
  margin-right: 32px;
}

.referenceSelector {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    border-style: none;
    background-color: #141d2f;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    img {
      background-color: transparent;
    }
  }
  button:hover {
    border: 3px solid $hoverFocus;
    border-radius: 100%;
  }
  button:active {
    border: none;
  }
}

.referenceDots {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: $hoverFocus;
  font-size: 40px;
}

.referenceActive {
  color: $activeClick;
}
