@import "../../variables";

.reference {
  overflow-x: hidden;
  padding: 25px 100px;
}

.referenceContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
}

.imageContainer {
  position: relative;
  width: 272px;
  height: 272px;
  opacity: 1;
  border: 4px solid $activeClick;
  border-radius: 100%;
  img {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: white;
    transition: opacity 0.2s ease-in-out;
    object-fit: contain;
  }
}

.purpleLine {
  width: 100vw;
  position: absolute;
  background-color: $activeClick;
  height: 4px;
  top: 50%;
  right: 0;
  transform: translateX(100%);
}

.referenceTextcontent.fade,
.company.fade,
.imageContainer img.fade {
  opacity: 0;
}

.referenceText {
  position: relative;
  flex: 1;
  border: 4px solid $hoverFocus;
  border-radius: 32px;
  padding: 48px 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 46px;
}

.quote {
  position: absolute;
  width: 60px;
  top: -24px;
  left: -24px;
  background-color: transparent;
}

.company {
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.company::before {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: $activeClick;
  width: 100%;
  margin-right: 32px;
}

.referenceSelector {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    border-style: none;
    background-color: #141d2f;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    img {
      background-color: transparent;
    }
  }
  button:hover {
    border: 3px solid $hoverFocus;
    border-radius: 100%;
  }
  button:active {
    border: none;
  }
}

.referenceDots {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: $hoverFocus;
  font-size: 40px;
}

.referenceActive {
  color: $activeClick;
}

.referenceTextcontent {
  transition: opacity 0.2s ease-in-out;
  font-weight: 20px;
}

@media (max-width: 1100px) {
  .referenceContainer {
    display: flex;
    gap: 32px;
    flex-direction: column-reverse;
  }

  .referenceText {
    padding: 16px;
  }

  .referenceTextcontent {
    font-size: 16px;
  }

  .company {
    font-size: 16px;
  }

  .imageContainer {
    width: 144px;
    height: 144px;
  }
}
@media (max-width: 900px) {
  .reference {
    padding: $mobilePadding;
  }
}
