@import "../../variables";

.impress {
  padding: $screenPadding;
}

.impressContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .impress {
    padding: $mobilePadding;
  }
}
