<section class="impress" aria-labelledby="company-name">
  <div class="impressContainer">
    <p id="company-name"><strong>Strebel Company</strong></p>
    <p>
      <strong>{{ owner.name[languageService.currentLanguage] }}</strong>
      {{ data.name }}
    </p>
    <p>{{ data.street }}</p>
    <p>{{ data.plz }}, {{ data.place }}</p>
    <p>{{ data.country.land[languageService.currentLanguage] }}</p>
    <p>
      <strong>Tel:</strong>
      <a href="tel:+491711505613" aria-label="Phone number: +49 171 1505613">
        {{ data.tel }}
      </a>
    </p>
    <p>
      <strong>Email:</strong>
      <a
        href="mailto:office@strebel-company.de"
        aria-label="Email: office@strebel-company.de"
      >
        {{ data.email }}
      </a>
    </p>
    <p>
      <strong>{{ data.ust.id[languageService.currentLanguage] }}</strong>
      DE453021781
    </p>
    <p>
      <strong>{{ rstv.disclaimer[languageService.currentLanguage] }}</strong>
    </p>
    <p>{{ data.name }}</p>
    <p>{{ data.street }}</p>
    <p>{{ data.plz }}, {{ data.place }}</p>
    <p>{{ data.country.land[languageService.currentLanguage] }}</p>
  </div>
</section>
