@import "../../variables";

.skillsContainer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $screenPadding;
}

@media (max-width: 1600px) {
  .skillsContainer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .skillsContainer {
    padding: $mobilePadding;
  }
}
