@import "./app/variables";
@import "aos/dist/aos.css";

html {
  scroll-behavior: smooth;
  background-color: $background;
  scroll-padding-top: 124px;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $text;
}

.purpleColor {
  color: $primaryAccent;
}

.greenColor {
  color: $primaryColor;
}

.modernColor {
  color: $secondaryAccent;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexReverse {
  flex-direction: row-reverse;
}

.gap92 {
  gap: 92px;
}

.gap35 {
  gap: 35px;
}

.gap29 {
  gap: 35px;
}

.gap29 {
  gap: 29px;
}

.gap24 {
  gap: 24px;
}

.gap15 {
  gap: 15px;
}

.gap14 {
  gap: 14px;
}

.size90 {
  font-size: 90px;
}

.size64 {
  font-size: 64px;
}

.size58 {
  font-size: 58px;
}

.size32 {
  font-size: 32px;
}

.size23 {
  font-size: 23px;
}

.size20 {
  font-size: 20px;
}

.size18 {
  font-size: 18px;
}

.size16 {
  font-size: 16px;
}

.size14 {
  font-size: 14px;
}

.weight700 {
  font-weight: 700;
}

.weight400 {
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/font/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
