@import "../../variables";

footer {
  width: 100%;
  border-top: 4px solid $hoverFocus;
}

.footerContainer {
  height: 291px;
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
}

.footerButtons {
  a {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.logoButton {
  cursor: pointer;
  border-style: none;
  text-decoration: none;
}

.privacy {
  a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline solid $hoverFocus 2px;
      text-underline-offset: 4px;
    }
  }
}

.nameLegalNotice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
