<div class="footerBackground">
  <div class="footerContainer flexSpaceBetween">
    <div class="nameLegalNotice">
      <p>Vale</p>
      <p>Legal notice</p>
    </div>
    <div class="copyright">
      <p>&#169; Valentino Strebel 2025</p>
    </div>
    <div class="footerButtons flexSpaceBetween gap29">
      <a href="https://github.com/vale-cannelloni" target="_blank"
        ><img
          src="../../../assets/img/icons/8. Github button.svg"
          alt="GitHub Link"
      /></a>
      <a href="mailto:v.strebel@strebel-company.de" target="_blank"
        ><img
          src="../../../assets/img/icons/9. Email button.svg"
          alt="Email Link"
      /></a>
      <a href="https://linkedin.com/in/valentino-guido-strebel" target="_blank"
        ><img
          src="../../../assets/img/icons/10. Linkedin button.svg"
          alt="LinkedIn Link"
      /></a>
    </div>
  </div>
</div>
