@import "../../variables";

footer {
  width: 100%;
  border-top: 4px solid $hoverFocus;
}

.footerContainer {
  max-width: 1440px;
  margin: auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  gap: 0px;
}

.footerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerButtons {
  a {
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.logoButton {
  cursor: pointer;
  border-style: none;
  text-decoration: none;
}

.privacy {
  a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline solid $hoverFocus 2px;
      text-underline-offset: 4px;
    }
  }
}

.nameLegalNotice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 900px) {
  .footerContainer {
    padding: 0 25px;
    text-align: center;
    justify-content: center;
    height: 310px;
  }

  .footerMain {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
